body {
  background-color: #F7F6F3;
  font-family: Roboto;
  color: #EE2E31;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  color: #EE2E31;
  font-family: Lato;
  font-size: 32px;
  font-weight: bolder;
}

h2 {
  color: #04F06A;
  font-size: 24px;
}

a {
  color: #472836;
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 700px;
  margin: 0 auto;
}
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 4px 4px 2px 1px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img_circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

ul {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.btn-blue {
  background-color: #472836;
  color: white;
  padding: 20px 20px;
  border-radius: 4px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
